h1 {
  font-size: 2.5em;
  text-align: center;
  margin-top: 50px;
}
section {
  margin-top: 30px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}
h2 {
  font-size: 1.5em;
}
p {
  font-size: 1.2em;
}
select {
  padding: 0.1% 0.5%;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
}
button:hover {
  background-color: #0056b3;
}